#banniere_image
{
    margin-top: 15px;
    width:850px;
    height: 300px;
    border-radius: 5px;
    background: url('../images/globe.png') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;

}

#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    height: 30px;
    padding-top: 10px;
    padding-left: 5px;
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 0.8em;
    
}

#bloc-page
{
    position:relative;
    margin-top: 50px;
    margin-left: 450px;
    width: 850px;
    text-align: justify;
    
}

header
{
    
    text-align: center;
    text-transform:uppercase;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitle
{
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 8px;

}

#experience-perso
{
    padding-bottom: 50px;
}