
.centrer{
	padding-top: 300px;
	text-align: center;
}

.centrer_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.barre_recherche_acceuil{
	height: 50px;
	width: 220px;
}

.fond{
	background-color: rgb(220,220,220);
}


/* Copie code source depuis le site kommunauty.fr 
pour auto-complétion barre de recherche */
#auto-suggest {width:358px;margin:0 auto}
#auto-suggest .search {
	width:322px;height:33px;margin:4px;padding:0 13px;border:1px solid #cdcdcd;
	color:#ccc;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;font-weight:bold;	
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	-moz-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #f1f1f1,-4px 4px 0 #f1f1f1,-4px -4px 0 #f1f1f1,4px -4px 0 #f1f1f1;
	-webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #f1f1f1,-4px 4px 0 #f1f1f1,-4px -4px 0 #f1f1f1,4px -4px 0 #f1f1f1;
	box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #f1f1f1,-4px 4px 0 #f1f1f1,-4px -4px 0 #f1f1f1,4px -4px 0 #f1f1f1
}

#auto-suggest .search:focus {
	color:#555;border-color:#c8c8c8;	
	-moz-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #ececec,-4px 4px 0 #ececec,-4px -4px 0 #ececec,4px -4px 0 #ececec;
	-webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #ececec,-4px 4px 0 #ececec,-4px -4px 0 #ececec,4px -4px 0 #ececec;
	box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #ececec,-4px 4px 0 #ececec,-4px -4px 0 #ececec,4px -4px 0 #ececec
}

#auto-suggest .suggestions {
	width:342px;position:relative;margin:-6px auto 0;padding:0;list-style-type:none;border:1px solid #d5d4d4;background:#fff;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13px;color:#555;	
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;	
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	box-shadow:0 1px 3px rgba(0,0,0,0.1)
}

#auto-suggest .suggestions li {height:25px;padding:0 10px;line-height:25px;cursorointer;border-top:1px solid #f5f5f5}
#auto-suggest .suggestions li:hover {background:url(images/tick.png) no-repeat #fffac2;background-position:320px center;border-top-color:#fffac2}
#auto-suggest .suggestions li:first-child {border:none;}

.container{
display: flex;
}

/* Pour afficher les catégories après une recherche */
.thumbnail{
	width: 200px;
	height: 100px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.h6{
  text-align: center;
}

.column {
flex: 50%;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.row{
	margin-left: -15px;
	margin-right:-15px;

}

/*Recherche.css*/



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.container {
  display: flex;
}

.icone:hover{
  color: white;
}

.section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: #fff;
  transition: flex .4s ease;
  position: relative;
}

.section .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  transition: background-color .8s ease;
}

.section .content {
  z-index: 2;
}

.section:hover {
  flex: 2;
}

.section:hover .overlay {
  background-color: rgba(0, 0, 0, 0.95);
}

#resultats{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: black;
  position: relative;

}

#nom_ville{
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  color: black;
  position: relative;

}

#banderolle {
  width: 100%;
  background-image: url('../images/paysage6.jpg');
  height: 300px;
}

#restauration {
  background-image: url('../images/restauration.jpg');
}

#visiter {
  background-image: url('../images/visiter.jpg');
}

#galerie {
  background-image: url('../images/paysage.jpg');
  box-sizing: border-box;
}


#image_principale {
  max-height:50 px;
}

#categories{
  height: 300px;
  top : 300px;
  padding-bottom: 50px;
}

a {
  text-decoration:none;
  color:#fff;
}

a:hover {
  background-color: #111;
}

