#bloc-page
{
    position:center;
    margin-top: 50px;
    margin-left: 600px;
    width: 600px;
	text-align: justify;
	background: #fff;
    
}

#profile-header
{

	background: #fff;
	width :100%;
	display: flex;
	height : 210px;
	position:relative;
	
	
}

#image-profile
{
	margin-top:-20px;
}

#username
{
	font-family: sans-serif;
	font-variant : small-caps;
	font-weight: bold;
	font-size:3em;
}

#user-email
{
	display: flex;
	color:#777;
}

#barre-fav-hist ul
{
	display: flex;
	justify-content: center;
	list-style-type: none;
	height: 40px;
	width:600px;
	background: #fff;
	
}


#barre-fav-hist ul li
{
	padding:10px;
	width:200px;
	cursor: pointer;
	text-align: center;
	transition: all .2s ease-in-out;
}


#barre-fav-hist ul li button
{
	background-color:#fff;
	width:100%;
	margin-top: -10px;
	margin-left:-50px;
}

#barre-interest
{
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin-top:-18px;
	background: #fff;	
	margin-bottom: 4%;
}

#barre-interest label
{
	font-family: sans-serif;
	font-size:1em;
	font-weight: bold;
	margin-left:10px;
}


#bloc-profile-info
{
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin-top:30px;
	height: 500px;
	width:600px;
	background: #fff;
}

#interest-center
{
	margin-top:20px;
	text-align: center;
}
