{% extends 'main.html' %}

{% load static %}

{% block title %}
A propos de Geoflash
{% endblock title %} 


{% block content %}
<div id="bloc-page">
	<div id="banniere_image">
		<div id="banniere_description">
		    Voyagez en quelques clics avec Geoflash                    
		</div>
	</div>
	<header>A propos de geoflash</header>
	<div id="content-bloc">
		Geoflash a été réalisé par un groupe de 6 étudiants en deuxième année à l'ENSIIE dans le cadre d'un projet visant à appliquer la méthode agile.
		Ce projet s'adresse à toute personne désirant recueillir des informations sur la ville de son choix.
		<br>
		<div id="fonctionnement">
			<div class="subtitle">
				Comment utiliser Geoflash ?
			</div>
			Vous souhaitez partir en vacances prochainement ?
			Par le biais de notre carte interactive ou de la barre de navigation, sélectionnez une ville de votre choix. Geoflash va se charger de collecter un maximum d'informations pertinentes sur la ville qui vous interesse afin de faciliter vos préparatifs de voyage. Réservation des billets d'avion et de votre hôtel, adresses de restaurants typiques et activités à faire sur place, Geoflash vous permet de faire tout cela en seulement quelques clics.

		</div>

		<div id="experience-perso">
			<div class="subtitle">
				Une expérience personnalisée
			</div>

			La grisaille de votre quotidien vous déprime ? Vous êtes nostalgiques de vos dernières vacances sous les tropiques ? Geoflash vous permet de sauvegarder vos villes favorites afin de vous transporter directement dans la ville de vos souvenirs.
			Vous avez choisi votre prochaine destination de vacances ? Super ! Il faut désormais vous pencher sur votre planning du séjour. Comme tout le monde vous pourriez consulter les suggestions de Tripadvisor. Sauf que vous n'êtes pas trop visite d'églises baroques ni visite de la ville en TourBus. Non, vous, vous préférez la plongée sous-marine et les parcs d'attraction. Pas de problème, avec Geoflash, définissez vos centres d'intérêt afin qu'ils apparaissent en premier lors de vos recherches !

		</div>	
	</div>
</div>


{% endblock content %} 