{% extends 'main.html' %}

{% load static %}

{% block title %}
Recherche
{% endblock title %} 


{% block content %}
	<h1 class="ml-4">Vos favoris ont été mis à jour ! <h1>
	<form action="{% url 'retour_accueil' %}" method="GET">
    {%csrf_token%}
    <button name ="retour_accueil" id="retour_accueil" value="TRUE" class="btn btn-secondary ml-4">Retourner à la page d'accueil</button>
  </form>
	
{% endblock content %}