{% extends 'main.html' %}
{% block title %}
Favoris
{% endblock title %} 



{% block content %}

<div class="card shadow" style="width: 70%; margin: auto; text-align: center;margin-top: 2%; ">
    <div class="card-body">
    <h5 class="card-title">Voici votre liste des favoris</h5>
    <table class="ml-4 table table-striped">
        <thead>
            <tr>
                <th>Nom des villes</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in new %}
            <tr>
                <td><a href="/geoflash/recherche/?csrfmiddlewaretoken=hFZltFpQ8thrFnysf5u6P9SvOy7XR6xKIttdlvcV53frE0ye5db0JShJ8zn3054W&recherche={{i}}" >{{i}}</a></td>
                <td>
                    <form action="{% url 'delete_ville' id=user.id %}" method="GET">              
                        <button name ="delete_fav_btn" value="{{i}}" id="ville_id" class="btn btn-danger rounded-pill" ><i>Supprimer</i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/profile" class="card-link btn btn-outline-dark">Retourner sur le profil</a>
    </div>
</div>

    
{% endblock content %}