
{% extends 'main.html' %}

{% block title %}
galerie
{% endblock title %}

{% block content %}
	
<div class="card bg-light shadow" style="width: 70%; margin: auto; text-align: center; margin-top:2%">
	<div class="card-header" id="headingOne">
		<h2 class="mb-0">
			Voici la galerie !
		</h2>
	  </div>
			<div class="card-body">
				
				<div class="container">
					<div class="column">
						<a href={{main_img_url0}} download>
							<img src={{main_img_url0}} height="397" width="500" class="centrer_img" >
						</a>
						<br>
						<a href={{main_img_url1}} download>
							<img src={{main_img_url1}} height="397" width="500" class="centrer_img">
						</a>
						<br>
						<a href={{main_img_url2}} download>
							<img src={{main_img_url2}} height="397" width="500" class="centrer_img">
						</a>
						
					
					</div>
					<div class="column">
						<a href={{main_img_url3}} download>
							<img src={{main_img_url3}} height="397" width="500" class="centrer_img" >
						</a>
						<br>
						<a href={{main_img_url4}} download>
							<img src={{main_img_url4}} height="397" width="500" class="centrer_img">
						</a>
						<br>
						<a href={{main_img_url5}} download>
							<img src={{main_img_url5}} height="397" width="500" class="centrer_img">
						</a>
					
					</div>
					
			  </div>
			</div>
		  </div>
	
		
  


{% endblock content %}

