{% extends 'main.html' %}
{% block title %}
Favoris
{% endblock title %} 



{% block content %}

<div class="card shadow" style="width: 70%; margin: auto; text-align: center;margin-top: 2%; ">
    <div class="card-body">
    <h5 class="card-title">Voici les villes que vous avez consulté dernièrement</h5>
    <table class="ml-4 table table-striped">
        <thead>
            <tr>
                <th>Nom des villes</th>
            </tr>
        </thead>
        <tbody>
            {% for i in histo %}
            <tr>
                <td><a href="/geoflash/recherche/?csrfmiddlewaretoken=hFZltFpQ8thrFnysf5u6P9SvOy7XR6xKIttdlvcV53frE0ye5db0JShJ8zn3054W&recherche={{i}}" >{{i}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/profile" class="card-link btn btn-outline-dark" style="margin-left: 4%;">Retourner sur le profil</a>
    </div>
</div>

{% endblock content %}