{% extends 'main.html' %}
{% block title %}
Interest
{% endblock title %} 



{% block content %}

<div class="card shadow" style="width: 70%; margin: auto; text-align: center;margin-top: 2%; ">
    <div class="card-body">
    <h5 class="card-title">Voici la liste de vos centres d'intérêt</h5>
    <table class="ml-4 table table-striped">
        <table class="ml-4 table table-striped">
            <thead>
                <tr>
                    <th>Intérêts</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in centres_int %}
                <tr>
                    <td>{{i}}</td>
                    <td>
                        <form action="{% url 'delete_int' id=user.id %}" method="GET">              
                            <button name ="delete_int_btn" value="{{i}}" id="ville_id" class="btn btn-danger rounded-pill" ><i>Supprimer</i></button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <a href="/profile" class="card-link btn btn-outline-dark" style="margin-left: 4%;">Retourner sur le profil</a>
    </div>
</div>
    
{% endblock content %}