{% extends 'main.html' %}

{% load static %}

{% block title %}
Ville introuvable
{% endblock title %} 


{% block content %}
	<h2 id="resultats" class="mt-4 container">Nous n'avons pas trouvé la ville que vous recherchez !</h2>
	<h2>{{ recherche }}</h2>
{% endblock content %}