<!DOCTYPE html>
{% load static %}
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@master/dist/latest/bootstrap-autocomplete.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/a_propos.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css">
	<!-- script de bootstrap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	
	<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
	<title>
		{% block title %}

		{% endblock title %}
	</title>

	<!-- script javascript autocompletion -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcs4XWpWZQnpWRWEPWTYtQSvH5Km-CjM8&libraries=places&language=fr"></script>
	<script>
		// This example requires the Places library. Include the libraries=places
		// parameter when you first load the API. For example:
		let autocomplete;

		function initAutocomplete() {
			// Create the autocomplete object, restricting the search predictions to
			// geographical location types.
			var input = document.getElementById('identite');

			var options = {  
				 types: ['(cities)']
			};

			autocomplete = new google.maps.places.Autocomplete(input, options);
		}

	  </script>
</head>
<body class="fond">
	<!-- En haut de la page -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
	  <a class="navbar-brand mr-4 ml-2" href="{% url 'pima-welcome' %}">Geoflash</a>
	  
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  {% if user.is_authenticated %}
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      
		  <ul class="navbar-nav">
			<li class="nav-item active">
			  <a class="nav-link" href="/travel">Voyager <span class="sr-only">(current)</span></a>
			</li>
		</ul>

		<ul class="navbar-nav">
			<li class="nav-item active">
			  <a class="nav-link" href="/geoflash/a_propos">A propos <span class="sr-only">(current)</span></a>
			</li>				
		</ul>

	  </div>
	  <div>
		<form action="/geoflash/recherche/" method="GET">{% csrf_token %}
			<input type="search" name="recherche" class="barre_recherche_accueil" placeholder="Ex: Evry-Courcouronnes" id="identite" onkeyup="initAutocomplete()">
			<input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Rechercher">
		</form>
		</div>
	  {% endif %}
	  <!-- Navbar Right Side -->
	<div class="logo-image">
		<img class="rounded-circle article-img" src="{{ profile.image.url }}">
	</div>
	<div class="collapse navbar-collapse" id="navbarNav"></div>
		<ul class="navbar-nav">
			{% if user.is_authenticated %}
			{% if request.get_full_path == "/welcome/" %}
			<form method="POST" action="#">{% csrf_token %}
				<input type="hidden" name="action" value="map_action">
				<select name="map_theme" style="color: gray;">
					<option name="">--choose a map theme--</option>
					<option value="OpenStreetMap">OpenStreetMap</option>
					<option value="Stamen Terrain">Stamen Terrain</option>
					<option value="Stamen Toner">Stamen Toner</option>
					<option value="CartoDB positron">CartoDB positron</option>
					<option value="Cartodbdark_matter">Cartodbdark_matter</option>
					<input type="submit" id="submit" value="Adopt">
				</select>
			</form>
			{% endif %}
			<!--
			<li>
				<img class="rounded-circle article-img ml-4" src="{{ user.profile.image.url }}" width="40">
			</li>-->
			<a class="nav-item nav-link ml-2" href="{% url 'profile' %}">Profile</a>
			<a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
			{% else %}
			<a class="nav-item nav-link mr-2" href="{% url 'login' %}">Login</a>
			<a class="nav-item nav-link mr-2" href="{% url 'register' %}">Register</a>
			{% endif %}
		</ul>
  	</div>
	</nav>
	{% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">
			{{ message }}
		</div>
		{% endfor %}
	{% endif %}
	{% block content %}

	{% endblock content %}

	

    </body>
</html>