<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<title>
        {% block title %}
        
		{% endblock title %}
	</title>
</head>
<body class="fond">
	<!-- En haut de la page -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand mr-4 ml-2" 
	  	{% if user.is_authenticated %}
		  href="{% url 'pima-welcome' %}"
		{% else %}
		  href="/"
		{% endif %}
		  >Geoflash</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
			<li class="nav-item active">
			  <a class="nav-link" href="/travel">Voyager <span class="sr-only">(current)</span></a>
			</li>
		</ul>

		<ul class="navbar-nav">
			<li class="nav-item active">
			  <a class="nav-link" href="/geoflash/a_propos">A propos <span class="sr-only">(current)</span></a>
			</li>				
		</ul>
	  </div>
	<!-- Navbar Right Side -->
	<div class="collapse navbar-collapse" id="navbarNav"></div>
		<ul class="navbar-nav">
			<a class="nav-item nav-link mr-2" href="{% url 'login' %}">Login</a>
			<a class="nav-item nav-link mr-2" href="{% url 'register' %}">Register</a>
		</ul>
  	</div>
	</nav>
	{% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">
			{{ message }}
		</div>
		{% endfor %}
	{% endif %}

	{% block content %}

	{% endblock content %}

	<!-- script de bootstrap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>