{% extends 'main.html' %}

{% load static %}

{% block title %}
Recherche : {{recherche}}
{% endblock title %} 


{% block content %}



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css">


<div class="card shadow" style="width: 70%; margin: auto; text-align: center;">
  <img src={{main_img_url}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{recherche}}{% if user.is_authenticated %}
       <form action="{% url 'ville_fav' id=user.id %}" method="GET"> 
        {%csrf_token%}
        {% if is_favourite%}
          <button name ="add_fav_btn" value="{{recherche}}" id="ville_id" class="btn btn-outline-danger my-2 my-sm-0 rounded-pill" onclick="myFunction2();"><i class="fas fa-heart icone" style="color: #ff1e00"></i></button>
         <script type="text/javascript">
  
          function myFunction2(){
            alert("Retirée des Favoris");
          };
        </script>
        <script type="text/javascript">
            function myFunction1(){
              alert("Ajoutée aux Favoris");
            };
          </script>

           
        {% else %}
          <button name ="add_fav_btn" value="{{recherche}}" id="ville_id" class="btn btn-outline-danger my-2 my-sm-0 rounded-pill " onclick="myFunction1();"><i class="far fa-heart icone" style="color: #ff1e00"></i></button>

          

          <script type="text/javascript">
            function myFunction1(){
              alert("Ajoutée aux Favoris");
            };
          </script>

        {%endif%}  
      </form>
      {% endif%}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Pays : {{pays}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Maire : {{maire}} </h6>
    <h6 class="card-subtitle mb-2 text-muted">Population
      {% if type_population == "Population de l'agglomération" %}
        de l'agglomération
      {% endif %}
        : {{population}} 
    </h6>
    <h6 class="card-subtitle mb-2 text-muted">Superficie : {{superficie}}
      {% if superficie_unite == "km" %}
        km<sup>2</sup>
      {% elif superficie_unite == "ha" %}
        ha
      {% endif %} </h6>
    <p class="card-text">{{intro}}</p>
    <div class="container" id="categories">
      <div id="restauration" class="section">
        <div class="content">
          <a href="./restauration" style="text-decoration:none; color:#fff">
              <h1>Restauration</h1>
            </a>
        </div>
        <div class="overlay"></div>
      </div>
      <div id="visiter" class="section">
     
      <div class="content">
        <a href="./visites" style="text-decoration:none; color:#fff">
            <h1>Visite</h1>
          </a>
      </div>	
      <div class="overlay"></div>
      </div>
    
      <div id="galerie" class="section">
        <div class="content">
            <a href="./galerie" style="text-decoration:none; color:#fff">
              <h1 >Galerie</h1>
            </a>
        </div>
        <div class="overlay"></div>
      </div>
    </div>
  </div>
</div>

<!-- <h2 id="resultats" class="container"> Voici les résultats de votre recherche !</h2> -->





{% endblock content %}

	
