{% extends 'main_request.html' %}

{% block title %}
Request page
{% endblock title %}

{% block content %}
    <div class="content-section">
        <form method="GET">
            {% csrf_token %}
            <fieldset class="form-group ml-4 mt-2">
                <legend class="border-bottom mb-4">Join Us Today</legend>
                Please create an account first!
            </fieldset>
            <div class="form-group ml-4">
                <a class="btn btn-outline-info" type="submit" href="./register">Sign Up</a>
            </div>
        </form>
        <div class="border-top pt-3 ml-4">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="./login">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}