{% extends 'main.html' %}

{% block title %}
	Restauration
{% endblock title %}

{% block content %}
	<h1 style="text-align: center;">
		Voici les restaurants disponible pour le lieu : {{search}}
	</h1>
	<br>
	<!--Voici les restaurants à visiter !-->
	<div class="pt-2 pl-5 pr-5 bg">
	<div class="card bg-light shadow" style="width: 80%; margin: auto; text-align: center; margin-top:2%">
		<div class="card-header" id="headingOne">
			<h2 class="mb-0">
				Restaurants
			</h2>
		  </div>
		<div class="card-body">
			<div class="row row-cols-1 row-cols-md-4 ">
				{% for cle, valeurs in restaurant.items %}
				
					<div class="col mb-4">
						<div class="card " >
							<img src="{{valeurs.img}}" class="card-img-top" alt="..." style="height:200px">
							<div class="card-body">
							<h5 class="card-title">{{valeurs.nom}}</h5>
								<p class="card-text">
									{{valeurs.adresse}}
									<br>
									Note : {{valeurs.note}} 
									<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill mb-1" fill="#FFC500" xmlns="http://www.w3.org/2000/svg">
										<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
									</svg>
								</p>
								<a href="http://www.google.fr/maps?um=1&tab=pl&ie=UTF-8&hl=fr&q={{valeurs.nom}}" class="card-link">Google Maps</a>
							</div>
						</div>
					</div>
			
			{% endfor %}
			</div>
		</div>
	</div>
</div> 
{% endblock content %}