{% extends 'main.html' %}

{% load static %}

{% block title %}
Recherche
{% endblock title %} 


{% block content %}
	<h1 class="ml-4">Votre ville favorite a été supprimée ! <h1>
	<form action="{% url 'retour_favoris' %}" method="GET">
    {%csrf_token%}
    <button name ="retour_favoris" id="retour_favoris" value="TRUE" class="btn btn-secondary ml-4">Retourner à la page favoris</button>
  </form>
	
{% endblock content %}