{% extends 'main.html' %}

{% load static %}

{% block title %}
Recherche
{% endblock title %} 


{% block content %}
	<h1 class="ml-4">Votre centre d'intérêt a été supprimé ! <h1>
	<form action="{% url 'retour_int' %}" method="GET">
    {%csrf_token%}
    <button name ="retour_int" id="retour_int" value="TRUE" class="btn btn-secondary ml-4">Retourner à la page des centres d'intérêt</button>
  </form>
	
{% endblock content %}