{% extends 'main.html' %}
{% load static %}

{% block title %}
Travel results
{% endblock title %} 

{% block content %}

	<div class="card shadow" style="width: 70%; margin: auto; text-align: center;margin-top: 2%; ">
		<div class="card-header" id="headingOne">
			<h2 class="mb-0">
				Voici les résultats de votre recherche: 
			</h2>
		  </div>
		<div class="card-body">
		<img src="/images/airport.jpg" class="card-img-top" alt="..." style=height: 50%>
		<h5 class="card-title">Vol pour {{adults}} adulte(s) de {{departure}} ({{aeroport_depart}}) à {{arrival}} ({{aeroport_arrive}}) le {{date}} </h5>
		<h6 class="card-subtitle mb-2 text-muted">Les prix sont classés dans l'ordre croissant</h6>	
		
			<!-- Results of the search -->
			<table class="table">
				<thead class="thead-dark">
					<tr>
					<th scope="col">#</th>
					<th scope="col">Prix total</th>
					<th scope="col">Agence</th>
					<th scope="col">Aller simple</th>
					<th scope="col">Départ (heure locale) </th>
					<th scope="col">Arrivée (heure locale) </th>
					</tr>
				</thead>
				<tbody>
				{% for num, flight in flights.items %}
					<tr>
						<td>
						{{num|add:1}} 
						</td>
						{% for info_name, info_value in flight.items %}
							<td>
								<p> {{info_value}} </p>
							</td>
					{% endfor %}
					</tr>
				{% endfor %}
			</table>

		</div>
	</div>
	{% endblock content %} 