{% extends 'main.html' %}
{% load static %}

{% block title %}
Travel
{% endblock title %} 


{% block content %}

	<div class="card bg-dark text-white shadow" style="width: 50%; margin: auto; text-align: center;margin-top: 2%; ">
		<img src="/images/airplane.jpg" class="card-img " alt="..." style=height: 50%>
		<div class="card-img-overlay" style="margin-top: 10%;">
		
			
		<h5 class="card-title">Planifiez votre vol</h5>
		<form method="POST" action="travel_tmp/">
			{% csrf_token %}
			<table class="table">
			<tr>
				<!-- Countries -->
				<td>
					<label class="text-white" for="pays_depart"> Pays de départ </label>
					<select class="custom-select" name="pays_depart" id="pays_depart">
						{% for country in countries %}
							{% if country == "France" %}
								<option value="{{country}}" selected>{{country}}</option>
							{% else %}
								<option value="{{country}}">{{country}}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
				<td>
					<label class="text-white" for="pays_arrive"> Pays d'arrivée </label>
					<select class="custom-select" name="pays_arrive" id="pays_arrive">
						{% for country in countries %}
							{% if country == "Spain" %}
								<option value="{{country}}" selected>{{country}}</option>
							{% else %}
								<option value="{{country}}">{{country}}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>
			</table>
			<input class= "btn btn-light " type="submit" name="" value="Ok">
			</form>
		</div>
	</div>

	<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">
		Launch demo modal
	  </button>
	
	   include '/home/americkas/pima_groupe3_2020_geoflash/geoflash/pima/templates/travel_res_temp_modal.html' with elt=second_quote -->


{% endblock content %} 