{% extends 'main.html' %}
{% load static %}

{% block title %}
Travel results
{% endblock title %} 

{% block content %}
	<br>
	<div class="card bg-dark text-white shadow" style="width: 80%; margin: auto; text-align: center;margin-top: 1%; "> 
		<img src="/images/missed-flight.jpg" class="card-img" alt="..." style=height: 50%>
		<div class="card-img-overlay" style="margin-top: 20%;">
			<h1 class="card-title">Désolé, aucun vol n'a été trouvé ...</h1>
			<a href="/travel" class="card-link btn btn-light ">Retourner au début</a>
		  </div>
		</div>
		
	</div>
{% endblock content %} 