{% extends 'main.html' %}
{% load static %}

{% block title %}
Travel
{% endblock title %} 


{% block content %}

<div class="card bg-dark text-white shadow" style="width: 50%; margin: auto; text-align: center;margin-top: 2%; ">
	<img src="/images/airplane.jpg" class="card-img bg-dark" alt="..." style=height: 50%>
	<div class="card-img-overlay" style="margin-top: 10%;">
	
		<h5 class="card-title">Planifiez votre vol</h5>
		<form method="POST" action="travel_results/">
			{% csrf_token %}
			<table class="table">
			<tr>
				<!-- Airports -->
				<td>
	
					<label class="text-white" for="aeroport_depart"> Aéroport de départ </label>
					<select class="custom-select" name="aeroport_depart" id="aeroport_depart">
						{% for aeroport_d in aeroports_depart %}
							<option value="{{aeroport_d}}">{{aeroport_d}}</option>
						{% endfor %}
					</select>
				</td>
				<td>
					<label class="text-white" for="aeroport_arrive"> Aéroport d'arrivée </label>
					<select class="custom-select" name="aeroport_arrive" id="aeroport_arrive">
						{% for aeroport_a in aeroports_arrive %}
							<option value="{{aeroport_a}}">{{aeroport_a}}</option>
						{% endfor %}
					</select>
					
				</td>
			</tr>
			<tr>
				<td>
					<!-- Departure Date -->
				<label class="text-white" for="date_depart"> Date de départ </label>
				<input type="date" name="date_depart" placeholder="2020-11-22">
				</td>
				
				<td>
					<!-- Number of adults -->
					<label class="text-white" for="nb_adults"> Nombre d'adulte(s) </label>
					<input type="number" name="nb_adults" id="nb_adults" value="1" min="1" max="10">
				</td>
			</tr>
		
			</table>
			<input class= "btn btn-light " type="submit" name="" value="Rechercher">
			</form>
	
	</div>
</div>


{% endblock content %} 