{% extends 'main.html' %}

{% block title %}
	Lieux incontournables
{% endblock title %}

{% block content %}
	<h1 style="text-align: center;">
		Recherche pour le lieu : {{search}}
	</h1>
	<br>
	
		<!--collapse option-->

		<div class="accordion pl-5 pr-5 " id="accordionExample" style="width: 80%; margin: auto; text-align: center; margin-top:1%">


			<div class="card " style="visibility: {{visibility}}; ">
				<div class="card-header" id="headingZero">
				  <h2 class="mb-0">
					<button class="btn btn-link btn-block text-left " type="button" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
					  Centres d'intérêt
					</button>
				  </h2>
				</div>
			
				<div id="collapseZero" class="collapse" aria-labelledby="headingZero" data-parent="#accordionExample">
				  <div class="card-body">
					 <!--Voici les centres d'intérêts !-->
					  <div class="row row-cols-1 row-cols-md-5">
						  {% for cle, valeurs in interests.items %}
						  
							  <div class="col mb-4">
								  <div class="card " >
									  <img src="{{valeurs.img}}" class="card-img-top" alt="..." style="height:200px">
									  <div class="card-body">
									  <h5 class="card-title">{{valeurs.nom}}</h5>
										  <p class="card-text">{{valeurs.adresse}}.
											  <br>
										  Note : {{valeurs.note}} 
										  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill mb-1" fill="#FFC500" xmlns="http://www.w3.org/2000/svg">
											  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
											</svg>
										  </p>
										  <a href="http://www.google.fr/maps?um=1&tab=pl&ie=UTF-8&hl=fr&q={{valeurs.nom}}" class="card-link" target="_blank">Google Maps</a>
									  </div>
								  </div>
							  </div>
						  
						  {% endfor %}
					  </div>
				  </div>
				</div>
			  </div>
			<div class="card">
			  <div class="card-header" id="headingOne">
				<h2 class="mb-0">
				  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Musées
				  </button>
				</h2>
			  </div>
		  
			  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
				<div class="card-body">
				   <!--Voici les musées à visiter !-->
					<div class="row row-cols-1 row-cols-md-5">
						{% for cle, valeurs in museum.items %}
						
							<div class="col mb-4">
								<div class="card " >
									<img src="{{valeurs.img}}" class="card-img-top" alt="..." style="height:200px">
									<div class="card-body">
									<h5 class="card-title">{{valeurs.nom}}</h5>
										<p class="card-text">{{valeurs.adresse}}.
											<br>
										Note : {{valeurs.note}} 
										<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill mb-1" fill="#FFC500" xmlns="http://www.w3.org/2000/svg">
											<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
										  </svg>
										</p>
										<a href="http://www.google.fr/maps?um=1&tab=pl&ie=UTF-8&hl=fr&q={{valeurs.nom}}" class="card-link" target="_blank">Google Maps</a>
									</div>
								</div>
							</div>
						
						{% endfor %}
					</div>
				</div>
			  </div>
			</div>
			<div class="card">
			  <div class="card-header" id="headingTwo">
				<h2 class="mb-0">
				  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					Hébergements
				  </button>
				</h2>
			  </div>
			  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				<div class="card-body">
				  
				   <!--Voici les logements à visiter !-->
					<div class="row row-cols-1 row-cols-md-5">
						{% for cle, valeurs in lodging.items %}
						
							<div class="col mb-4">
								<div class="card " >
									<img src="{{valeurs.img}}" class="card-img-top" alt="..." style="height:200px">
									<div class="card-body">
									<h5 class="card-title">{{valeurs.nom}}</h5>
									<p class="card-text">
										{{valeurs.adresse}}
										<br>
										Note : {{valeurs.note}} 
										<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill mb-1" fill="#FFC500" xmlns="http://www.w3.org/2000/svg">
											<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
										  </svg>
									</p>
										<a href="http://www.google.fr/maps?um=1&tab=pl&ie=UTF-8&hl=fr&q={{valeurs.nom}}" class="card-link">Google Maps</a>
									</div>
								</div>
							</div>
						
						{% endfor %}
					</div>
				</div>
			  </div>
			</div>
			<div class="card">
			  <div class="card-header" id="headingThree">
				<h2 class="mb-0">
				  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					Parcs
				  </button>
				</h2>
			  </div>
			  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
				<div class="card-body">
				  <!--Voici les parcs à visiter !-->
					<div class="row row-cols-1 row-cols-md-5">
						{% for cle, valeurs in amusement_park.items %}
						
							<div class="col mb-4">
								<div class="card " >
									<img src="{{valeurs.img}}" class="card-img-top" alt="..." style="height:200px">
									<div class="card-body">
									<h5 class="card-title">{{valeurs.nom}}</h5>
										<p class="card-text">{{valeurs.adresse}}.
											<br>
										Note : {{valeurs.note}} 
										<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill mb-1" fill="#FFC500" xmlns="http://www.w3.org/2000/svg">
											<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
										  </svg>
										</p>
										<a href="http://www.google.fr/maps?um=1&tab=pl&ie=UTF-8&hl=fr&q={{valeurs.nom}}" class="card-link">Google Maps</a>
									</div>
								</div>
							</div>
						
						{% endfor %}
					</div>
				</div>
			  </div>
			</div>
			<div class="card">
				<div class="card-header" id="headingFour">
				  <h2 class="mb-0">
					<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
					  Aquariums
					</button>
				  </h2>
				</div>
				<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
				  <div class="card-body">
					<!--Voici les aquariums à visiter !-->
					  <div class="row row-cols-1 row-cols-md-5">
						  {% for cle, valeurs in aquarium.items %}
						  
							  <div class="col mb-4">
								  <div class="card " >
									  <img src="{{valeurs.img}}" class="card-img-top" alt="..." style="height:200px">
									  <div class="card-body">
									  <h5 class="card-title">{{valeurs.nom}}</h5>
										  <p class="card-text">{{valeurs.adresse}}.
											<br>
											Note : {{valeurs.note}} 
											<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill mb-1" fill="#FFC500" xmlns="http://www.w3.org/2000/svg">
												<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
											  </svg>
										  </p>
										  <a href="http://www.google.fr/maps?um=1&tab=pl&ie=UTF-8&hl=fr&q={{valeurs.nom}}" class="card-link">Google Maps</a>
									  </div>
								  </div>
							  </div>
						  
						  {% endfor %}
					  </div>
				  </div>
				</div>
			  </div>
			  <div class="card">
				<div class="card-header" id="headingFive">
				  <h2 class="mb-0">
					<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
					  Galleries d'art
					</button>
				  </h2>
				</div>
				<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
				  <div class="card-body">
					<!--Voici les parcs à visiter !-->
					  <div class="row row-cols-1 row-cols-md-5">
						  {% for cle, valeurs in art_gallery.items %}
						  
							  <div class="col mb-4">
								  <div class="card " >
									  <img src="{{valeurs.img}}" class="card-img-top" alt="..." style="height:200px">
									  <div class="card-body">
									  <h5 class="card-title">{{valeurs.nom}}</h5>
										  <p class="card-text">{{valeurs.adresse}}.
											<br>
											Note : {{valeurs.note}} 
											<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill mb-1" fill="#FFC500" xmlns="http://www.w3.org/2000/svg">
												<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
											  </svg>
										  </p>
										  <a href="http://www.google.fr/maps?um=1&tab=pl&ie=UTF-8&hl=fr&q={{valeurs.nom}}" class="card-link">Google Maps</a>
									  </div>
								  </div>
							  </div>
						  
						  {% endfor %}
					  </div>
				  </div>
				</div>
			  </div>
		  </div>


		  

{% endblock content %}