{% extends "main_request.html" %}
{% block content %}
    <div class="alert alert-info">
        Thank you for your email confirmation! Now you can login to your account.
    </div>
    <a class="ml-4" href="{% url 'login' %}">Login Here</a>
{% endblock content %}