{% extends 'main_request.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group ml-4 mr-4 mt-2">
                <legend class="border-bottom mb-4">Change Password</legend>
                <p>Please enter your old password, then your new password that you want to change.</p>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group ml-4">
                <button class="btn btn-outline-info" type="submit">Change Password</button>
            </div>
        </form>
    </div>
{% endblock content %}