{% extends 'main_request.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group ml-4 mr-4 mt-2">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group ml-4">
                <button class="btn btn-outline-info" type="submit">Login</button>
                <small class="text-muted ml-4">
                    Forgot Your Password?
                    <a href="{% url 'password_reset' %}">Reset It Now</a>
                </small>
            </div>
        </form>
        <div class="border-top pt-2 ml-4">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock content %}