{% extends 'main_request.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h2 class="ml-4 mt-2">You have been logged out!</h2>
    <div class="ml-4 border-top pt-3">
        <small class="text-muted">
            <a class="ml-2" href="{% url 'login' %}">Log In Again</a>
        </small>
    </div>
{% endblock content %}