{% extends 'main_request.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group ml-4 mr-4 mt-2">
                <legend class="border-bottom mb-4">Reset Password</legend>
                <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group ml-4">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}