{% extends "main_request.html" %}
{% block content %}
    <div class="alert alert-info">
        Your password has been successfully reset!
    </div>
    <a class="ml-4" href="{% url 'login' %}">Sign In Here</a>
{% endblock content %}