{% extends "main_request.html" %}
{% block content %}
    <div class="alert alert-info">
        Your password has been changed successfully!
    </div>
    <a class="ml-4" href="{% url 'profile' %}">Click Here</a> in order to return to your profile's page.
{% endblock content %}