{% extends 'main_request.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Profil
{% endblock title %} 
{% block content %}

<div id = "bloc-page" class="shadow" style = "padding:20px 0;">
    <div class="content-section">
      <div id="profile-header">
      <div class="media ml-4 mt-4">
        <img class="img-responsive rounded-circle account-img" id="image-profile" src="{{ user.profile.image.url }}" width="200">
        <div class="media-body ml-4">
          <h2 class="account-heading" id="username">{{ user.username }}</h2>
          <p class="text-secondary" id="user-email">{{ user.email }}</p>
        </div>
      </div>
    </div>
        <div class="column">
          <div id="barre-fav-hist">
            <ul>
              <li>
            <div id="affiche_favoris">
              <form action="{% url 'favourite_list' %}" method="POST">
                {%csrf_token%}
                <button type="submit" name ="favourite_list" class="btn btn-light">Favoris</button>
              </form>
              
            </div>
          </li>
          <li>
            <div id="affiche_historique">
              <form action="{% url 'historique_list' %}" method="POST">
              {%csrf_token%}
                <button type="submit" name ="historique_list" class="btn btn-light">Historique</button>
              </form>
            </div>
          </li>
          <li>
              <div id="affiche_historique">
              <form action="{% url 'interest_list' %}" method="POST">
              {%csrf_token%}
                <button type="submit" name ="interest_list" class="btn btn-light">Intérêts</button>
              </form>
            </div>
            </li>
          </ul>
          </div>
        </div>

      </div>
      <div id="barre-interest">
        <div id="interest-center">
          <form action="{% url 'addInterest'  %}" method="POST"  >
            {%csrf_token%}
              <label for="addInterest" name="addInterest">Ajoutez un centre d'intrêt</label>
              <div id="choices">
                <select class="custom-select small" name="addInterest" id="addInterest" >
                    <option value="">Veuillez choisir une option</option>
                    <option value="aquarium">Aquarium</option>
                    <option value="art_gallery">Art</option>              
                    <option value="bar">Bar</option>          
                    <option value="cafe">Café</option>
                    <option value="casino">Casino</option>
                    <option value="church">Eglise</option>              
                    <option value="clothing_store">Boutique de vêtements</option> 
                    <option value="library">Bibliothèque</option>
                    <option value="movie_theater">Théatre</option>       
                    <option value="zoo">Zoo</option>  

                </select>

                <button type="submit" class="btn btn-outline-success" value="addInterest" style="margin-top: 0.5%;">Valider</button>
              </div>
          </form>
        </div>
      </div>

      
      <div id="bloc-profile-info">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group ml-4 mt-4 mr-4">
              <legend class="border-bottom mb-2">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group ml-4">
              <button class="btn btn-outline-info" type="submit">Update Profile</button>
              <small class="text-muted ml-4">
                If You Want To Change Your Password,
                <a href="{% url 'change_password' %}">Click Here</a>
            </small>
          </div>
        </form>
      </div>
  </div>
{% endblock content %}