{% extends 'main_request.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group ml-4 mr-4 mt-2">
                <legend class="border-bottom mb-4">Create a new account</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group ml-4">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-2 ml-4 mb-4">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}